.buttonVariants-Rounded {
    border: 1px solid; 
    border-radius: 9999px;     
    padding: 10px 20px;        
    outline: none;              
   
    transition: box-shadow 0.3s ease-in-out;   
}
.buttonVariants-Plain {
    border: 1px solid;      
    padding: 10px 20px;        
    outline: none;              
    
    transition: box-shadow 0.3s ease-in-out;   
}

.buttonStates-Hover:hover {
    background-color: lightgray;
}
.buttonStates-Error{
    border-color:red;
}
.buttonStates-Valid{
    border-color:lightgreen;
}
.buttonStates-Focus{
    background-color: lightgray;   
}
