.input input {
  border: none;
  outline: 0px;
  background: none;
}
.buttonVariants-Rounded {
  border: 1px solid;
  border-radius:45px;
  padding: 8px;
  outline: none;
  width: fit-content;
  display: flex;
  space-x: 2px;
  align-items: center;
  justify-content: center;
}
.buttonVariants-Plain {
  border: 1px solid;
  padding: 8px;
  outline: none;
  width: fit-content;
  display: flex;
  space-x: 2px;
  align-items: center;
}

.buttonStates-Hover:hover {
  background-color: lightgray;
}
.buttonStates-Error {
  border-color: red;
  color: red;
}
.buttonStates-Valid {
  border-color: lightgreen;
  color: lightgreen;
}
.buttonStates-Focus {
  background-color: lightgray;
}
